language: java
sudo: false

jdk:
  - openjdk11
  - oraclejdk11
  - openjdk8
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2

install: true


jobs:
  include:
    - stage: test
      script: ./mvnw clean install
      name : "Compile and install project"
    - stage: integration test
      script: ./mvnw clean verify -Pdubbo-integration-test
      name: "Run integration test"

after_success:
  - bash <(curl -s https://codecov.io/bash)
