<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>test.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>test-%d{yyyy-MM-dd}.%i.log
            </FileNamePattern>
            <MaxHistory>10</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>5MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%-5level] %d{HH:mm:ss.SSS} [%thread] %logger{36} - %msg%n
            </pattern>
        </layout>
    </appender>

    <root>
        <level value="error"/>
        <level value="info"/>
        <!-- <appender-ref ref="file" /> -->
        <appender-ref ref="console"/>
    </root>

    <logger name="org.apache.dubbo" additivity="false">
        <level value="debug"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="org.dubbo.samples.protostuff.provider" level="DEBUG" additivity="false">
        <appender-ref ref="console"/>
    </logger>


</configuration>
