<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${is_cymbal_brand} ? 'Cymbal Shops' : 'Online Boutique'"></title>
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/cart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/order.css}">
    <link th:href="${is_cymbal_brand ? '/favicon-cymbal.ico' : '/favicon.ico'}" rel='shortcut icon' type='image/x-icon'/>
</head>

<body>
<header>
    <div class="navbar sub-navbar">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img th:src="${is_cymbal_brand ? '/icons/Cymbal_NavLogo.svg' : '/icons/Hipster_NavLogo.svg'}"
                     th:class="${is_cymbal_brand ? 'top-left-logo-cymbal' : 'top-left-logo'}"
                     alt="" />
            </a>
            <div class="controls">
                <div th:if="${show_currency}" class="h-controls">
                    <div class="h-control">
                        <span class="icon currency-icon" th:text="${renderCurrencyLogo(user_currency)}"></span>
                        <form method="GET" class="controls-form" action="/currencies" id="currency_form">
                            <select name="currency_code" onchange="document.getElementById('currency_form').submit();">
                                <option th:each="currency : ${currencies}" th:value="${currency}" th:text="${currency}" th:selected="${currency == user_currency}"></option>
                            </select>
                        </form>
                        <img src="/icons/Hipster_DownArrow.svg" alt="" class="icon arrow"/>
                    </div>
                </div>
                <a href="/cart" class="cart-link">
                    <img src="/icons/Hipster_CartIcon.svg" alt="Cart icon" class="logo" title="Cart"/>
                    <span th:if="${cart_size}" class="cart-size-circle" th:text="${cart_size}"></span>
                </a>
            </div>
        </div>
    </div>
</header>
</body>
</html>
